<div class="row" id="home">
  {{#parallax-effect}}
    <!-- <img src="http://plasmator.net/wallpaper/electricCosmos.jpg"> -->
    <img src='http://zastavki.com/pictures/originals/2013/Computers_Computers_technology_042219_.jpg'>
  {{/parallax-effect}}
  <div id="content-thanks">
    <div class="container" id="content-welcome">
      <h3 class='welcome'>Welcome To My Page</h3>
      <div id="story">
        Over the years I've learned that hard work, determination, team work, and timing is the key to success. Currently looking for opportunities to share those skills and my talents as a software engineer. I love working in the software industry - building awesome applications and never getting tired of it. Everyday brings new challenges, and I love tackling and conquering those challenges.&nbsp;<i class="tiny material-icons">touch_app</i>
      </div>
    </div>
  </div>
  {{#parallax-effect}}
    <!-- <img src="http://www.bespokepixels.co.uk/code/parallax/parallax.jpg"> -->
    <img src='http://netdna.webdesignerdepot.com/uploads/2012/11/code.jpg'>
  {{/parallax-effect}}
  <div id="content-thanks">
  <div class="container">
    <h3 class="thanks">Thanks For Visiting</h3>
      {{text-effects texts=model}}
  </div>
  </div>
</div>
<script type="text/javascript">
$('.nav-wrapper ul li').removeClass("active red darken-1");
$('.nav-wrapper ul li:first-child').addClass("active red darken-1");
</script>
