<div class="row" id="home">
  {{#parallax-effect}}
    <img src="http://plasmator.net/wallpaper/electricCosmos.jpg">
  {{/parallax-effect}}
  <div id="content-thanks">
    <div class="container" id="content-welcome">
      <h3 class='welcome'>Welcome To My Page</h3>
      <div id="story">
        Before I decided to get into IT, I was a business owner for many years. As a business owner, I had to wear many hats to be successfull. Although I successfully ran two different types of businesses, it was time to move on to something else. I had always been facinated with web technologies so there was no doubt that I wanted to get into IT. My first journey into the tech world was as a Quality Analyst at Safeway. I enjoyed working as a Qa, but my real interest was in building the actual app. That was when I decided to join Coding Dojo - an immersive 12 week coding bootcamp. This is where I was able to learn many technologies such as Javascript, PHP, Ajax, and Ruby. I am very excited and can't wait to make a positive impact in this awesome industry. 
      </div>
    </div>
  </div>
  {{#parallax-effect}}
    <img src="http://www.bespokepixels.co.uk/code/parallax/parallax.jpg">
  {{/parallax-effect}}
  <div id="content-thanks">
  <div class="container">
    <h3 class="thanks">Thanks For Visiting</h3>
      {{text-effects texts=model}}
  </div>
  </div>
</div>
