  <div class="row">
  	<div class="col m12">
     <h4>Technologies That I Have Worked With</h4>
   </div>
   <div class="col m3">
     <img class="skills" src="images/html5.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/css3.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/ajax.ico">
   </div>
   <div class="col m3">
     <img class="skills" src="images/javascript.png">
   </div>
 </div>
 <div class="row">
   <div class="col m3">
     <img class="skills" src="images/jquery.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/php.jpg">
   </div>
   <div class="col m3">
     <img class="skills" src="images/ruby.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/angular.png">
   </div>
 </div>
 <div class="row">
   <div class="col m3">
     <img class="skills" src="images/ember.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/sql.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/postgres.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/mongodb.jpg">
   </div>
 </div>
 <div class="row">
   <div class="col m3">
     <img class="skills" src="images/node.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/apache.jpg">
   </div>
   <div class="col m3">
     <img class="skills" src="images/git.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/rails.png">
   </div>
 </div>
 <div class="row" id='awards'>
  <div class="col m12">
    <h4>Achivements/Awards</h4>
  </div>
  <div class="col m3">
    <div class='awards'>
      <p>Golden State Exams</p>
      <p style="color:gold">High Honors</p>
      <p>Algebra</p>
    </div>
  </div>
  <div class="col m3">
    <div class='awards'>
      <p>Golden State Exams</p>
      <p style="color:gold">High Honors</p>
      <p>Geometry</p>
    </div>
  </div>
  <div class="col m3">
    <div class='awards'>
      <p>Golden State Exams</p>
      <p style="color:gold">High Honors</p>
      <p>Chemistry</p>
    </div>
  </div>
  <div class="col m3">
    <div class='awards'>
      <p>Golden State Exams</p>
      <p style="color:gold">High Honors</p>
      <p>Biology</p>
    </div>
  </div>
</div>
<div class="row">
   <div class="col m12">
     <h4>Coding Awards: Yellow, Red, Green, and Double Black Belt</h4>
   </div>
   <div class="col m3">
     <img class="skills" src="images/yellow.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/red.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/green.png">
   </div>
   <div class="col m3">
     <img class="skills" src="images/black.png">
   </div>
 </div>