<div class="row" id="resume">
  <div class="col m6 offset-m3 resume">
  	<h5 class="name" style="text-align: center">Jagdeep Brar</h5>
  	<p style="text-align: center">FULL STACK DEVELOPER</p>
  	<div class="r-header">
  		<p>LAMP – Linux, Apache, MAMP, PHP </p>
  		<p>MEAN – MongoDB, Express, Angular.Js, Node.Js </p>
      <p>RUBY – Ruby, Rails, PostgreSQL, Sinatra, Ember.Js</p>
  		<p>PYTHON – Python, Django, Apache, MySql</p>
  	</div>
  	<p class="light-blue accent-2">Key Technologies</p>
  	<table class="hoverable">
  		<tr>
  			<td>Front-End Development:</td>
  			<td>Ajax, Jquery, HTML, CSS, JqueryUI, Bootstrap, Foundation, Materialize</td>
  		</tr>
  		<tr>
  			<td>Languages:</td>
  			<td>Ruby, PHP, JavaScript</td>
  		</tr>
  		<tr>
  			<td>Databases:</td>
  			<td>SQL, Sqlite3, PostgreSQL, MongoDB, Active Record</td>
  		</tr>
  		<tr>
  			<td>Servers:</td>
  			<td>Node.js, Apache, WEBrick</td>
  		</tr>
  		<tr>
  			<td>Frameworks:</td>
  			<td>Django, Express.Js, Angular.Js, Ember.Js, Rails, Sinatra, Code Igniter, Socket.io</td>
  		</tr>
  		<tr>
  			<td>Version Control:</td>
  			<td>Git, GitHub, Bitbucket</td>
  		</tr>
      <tr>
        <td>Development Methodologies:</td>
        <td>Agile, Scrum, Waterfall</td>
      </tr>
      <tr>
        <td>Other Tools:</td>
        <td>Jira, Hp Alm, Version One</td>
      </tr>
  	</table>
  	<p class="light-blue accent-2">Education</p>
	<p>Certificate of Completion, Double Black-Belt 2015</p>
	<p>Coding Dojo San Jose</p>
	<hr>
	<p>Bachelor of Science – Finance</p>
	<p>California State University Hayward</p>
  </div>
</div>
<script type="text/javascript">
$('.nav-wrapper ul li').removeClass("active red darken-1");
$('.nav-wrapper ul li:nth-child(4)').addClass("active red darken-1");
</script>