{{#mobile-navbar}}
  <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
  <li class="active red darken-1">{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'skills'}}Skills{{/link-to}}</li>
  <li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
{{/mobile-navbar}}
{{outlet}}<br>
