{{#mobile-navbar}}
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
  <li>{{#link-to 'skills'}}Skills{{/link-to}}</li>
  <li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
  <li><a style="color:lightblue" target="_blank" href="https://www.linkedin.com/in/jagdeepbrar">LinkedIn</a></li>
  <li><a style="color:wheat" target="_blank" href="https://github.com/jaybrar">GitHub</a></li>
{{/mobile-navbar}}
{{outlet}}<br>
